{layout name="layout" /}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">畅销排行</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                     <form action="{:url('admin/total/cost')}" method="get" style="width: 80%;float: left;" id="booksearch">
                            <input readonly="" name="tdate" id="datetimepicker"  value="{$query['tdate']}" type="text"> -
                            <input readonly="" name="edate" id="datetimepicker2"  value="{$query['edate']}" type="text">
                        <button type="submit" class="btn btn-primary">提交</button> 
                        </form>
                    </div>
                </div>
                <script type="text/javascript">
                $(document).ready(function() {
                    $('#datetimepicker').datetimepicker({
                        language: "zh-CN",
                        minView: "month",//设置只显示到月份
                        format : "yyyy-mm-dd",//日期格式
                        autoclose:true,//选中关闭
                        todayBtn: true//今日按钮
                    });
                    $('#datetimepicker2').datetimepicker({
                        language: "zh-CN",
                        minView: "month",//设置只显示到月份
                        format : "yyyy-mm-dd",//日期格式
                        autoclose:true,//选中关闭
                        todayBtn: true//今日按钮
                    });
                })
                </script>
                <div class="table-responsive">
                    <table class="table  table-bordered table-hover">
                        <tr class="active">
                            <th>书名</th>
                            <th>销售次数</th>
                            <th>销售书币</th>
                            <th>销售人数</th>
                            <th>人均消费</th>
                            <th>人均章节</th>
                        </tr>
                       
                        {volist name="data" id="d"}
                        <tr {if $key%2==1}class="success"{/if}>
                            <td class="text-left">({$d.bid}){$d.bookname}</td>  
                            <td class="text-left">{$d.count}</td>
                            <td class="text-left">{$d.gold}</td> 
                            <td class="text-left">{$d.num}</td> 
                            <td class="text-left">{$d.gold/$d.num|round=2}</td>
                            <td class="text-left">{$d.count/$d.num|round=2}</td>  
                        </tr>
                        {/volist}
                    </table>
                </div>
            </div>
 
        </div>
    </div>
</div>
