{layout name="layout" /}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">渠道结算管理</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                     <form action="{:url('admin/agent/pay')}" method="get" style="width: 80%;float: left;" id="booksearch">
                        <input readonly name="tdate" id="datetimepicker"  value="{$query['tdate']}" type="text"> -
                        <input readonly name="edate" id="datetimepicker2"  value="{$query['edate']}" type="text">
                        <input type="text" name="agent_id" value="{$query['agent_id']}" placeholder="渠道ID">
                        <select name="author">
                            <option value="0">负责人</option>
                            {volist name="authorArr" id="au"}
                            <option value="{$key}" {if $query['author'] eq $key}selected="selected"{/if}>{$au}</option>
                            {/volist}
                        </select>
                        <button type="submit" class="btn btn-primary">提交</button> 
                        </form>
                    </div>
                </div>
                <script type="text/javascript">
                $(document).ready(function() {
                    $('#datetimepicker').datetimepicker({
                        language: "zh-CN",
                        minView: "month",//设置只显示到月份
                        format : "yyyy-mm-dd",//日期格式
                        autoclose:true,//选中关闭
                        todayBtn: true//今日按钮
                    });
                    $('#datetimepicker2').datetimepicker({
                        language: "zh-CN",
                        minView: "month",//设置只显示到月份
                        format : "yyyy-mm-dd",//日期格式
                        autoclose:true,//选中关闭
                        todayBtn: true//今日按钮
                    });
                })
                </script>
                <div class="table-responsive">
                 <form action="{:url('admin/agent/pay_add')}" method="post"  class="form-horizontal ajax-form">
                    <table class="table  table-bordered table-hover">
                        <tr class="active">
                        	<th><input class="check-all" type="checkbox" value=""></th>
                            <th>日期</th>
                            <th>充值金额</th>
                            <th>分成金额</th>
                            <th>渠道ID</th>
                            <th>广告位ID</th>
                            <th>名称</th>
                            <th>渠道类型</th>
                            <th>负责人</th>
                            <th>结算时间</th>
                        </tr>
                        <tr class="info">
                        	<th class="text-left"></th>
                            <th class="text-left">合计</th>
                            <th class="text-left">{$total.amount}</th>
                            <th class="text-left">{$total.commision}</th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                        </tr>
                       
                        {volist name="data" id="d"}
                        <tr {if $key%2==1}class="success"{/if}>
                        	<td>{if $d.state!=1}<input class="check" type="checkbox" name="ids[]" value="{$d.id}">{/if}</td>
                            <td class="text-left">{$d.tdate}</td>
                            <td class="text-left">{$d.amount}</td>
                            <td class="text-left">{$d.commision}</td>
                            <td class="text-left">{$d.agent_id}</td> 
                            <td class="text-left">{$d.site_id}</td>
                            <td class="text-left">{$d.agent_name}.{$d.site_name}</td>
                            <td class="text-left">{$payType[$d.paytype]}</td>
                            <td class="text-left">{$authorArr[$d.author]}</td>
                            <td class="text-left">{if $d.state==1}{$d.pay_time|date="Y-m-d H:i:s",###}{else}<font color="red">未结算</font>{/if}</td>
                        </tr>
                        {/volist}
                    </table>
                    <button type="submit" class="btn btn-primary">批量结算</button>
                    </form>
                </div>
            </div>
 
        </div>
    </div>
</div>
<script language="javascript">
$(function(argument) {
    $('form.ajax-form').formYlBook([]);
});
</script>